---
layout: layout
---

<style>
    #about-header{
        margin-top: 85px;
    }
    #about-header img{
        width: 145px;
    }
    .offer-body,
    .person-body,
    .project-body,
    .skills-body,
    .work-body,
    .learn-body{
        padding-left: 25px;
    }
    p{
        margin:0;
        font-size: 15px;
    }
    .body-section{
        padding-left: 15px;
    }
    #offer ul{
        margin-left: 20px;
        margin-bottom: 5px!important;
        border-left: 4px darkgray solid;
        padding-left: 8px;

    }
    li{
        list-style: none;
        font-size: 15px;

    }
    .title{
        color: #777;
    }
    .title>span{margin-right: 5px}
    .detail-info-xueli{
        display: block;
        padding-left: 70px;
    }


</style>

<div class="post-container">
<    <div class="content" id="about-header"> 
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div>
                    <img  src="https://www.gravatar.com/avatar/d0c8b9f02068ddd06c9f6400bca3e19b?s=180"  style="border-radius: 50%;"/>
                </div>
                <div class="text-center">
                     <h2>Wei Li</h2>
                </div>
            </div>
        </div>
        <div class="row" id="offer">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="work-experience">
                    <h3 class="title">Work</h3>
                    <div class="skills-body">
                      <p> I am a software engineer and I work for <a href="https://www.redhat.com" target="_blank">RedHat</a>. </p>
                      <p> I am interested in many areas but my focus is mainly around mobile, cloud computing and AI</p>  
                    </div>
                </div>
                <div class="person-info">
                    <h3 class="title">A Bit More About Me</h3>
                    <div class="person-body">
                        <p>I am currently living in Ireland</p>
                        <p>I play soccer in my spare time, and I am a big fan of Formula 1</p>
                    </div>
                </div>
                <div>
                    <h3 class="title">One More Thing</h3>
                    <div class="person-body">
                        <p>This is my personal blog and all posts only represent my own views.</p>
                    </div>
                </div>
            </div>
        </div></div>
</div>




